<div class="bar bar-header bar-energized">
  <h1 class="title">list</h1>
</div>
<br>
<br>

<a ui-sref="login"><button class="button icon-left ion-home">Home</button></a>
<a ui-sref="history"><button class="button icon-left ">History</button></a>
  <a ui-sref="list"><button class="button icon-left ">List</button></a>
  <a ui-sref="Search"><button class="button icon-left ">Search</button></a>
<br>
<div class="List">

    <a ng-repeat ="list in datalist" class ="item item-thumbnail-left" >
      <img src="{{list.pic}}">
      <h2>{{list.fname}}</h2>
      <p>{{list.lname}}</p>
	  <div class="list">

    
   

</div>
 <br>
 <br>
 <br>
</div>